.App {
  text-align: center;
}

.App-logo {
  height: 50%;
}

.App-header {
  background-color: #222;
  height: 275px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: x-large;
}
